body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d4e5ef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button{
  display: block;
  margin: 0 auto;
  top:50%;
  background-color:#146192;
  color: rgb(255, 255, 255);
  border:none;
  border-radius:5px; 
  padding:10px;
  min-height:20px; 
  min-width: 80px;
}

.button:hover{
  background-color: #19325f;
}

.hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #146192;
  margin: 0 auto;
  padding: 0;
  background-color:#146192;
  color: #146192;
  border-style: solid,
}